.board {
    display: flex;
    flex-wrap: wrap;
    width: calc(48px * 10);
    height: calc(48px * 10);
    position: absolute;
    top: 70%;
    // left: 10%;
    transform: translate(-50%, -50%);
}
.player {
    left: 20%;
}
.oponent {
    left: 80%;
}
