@import "variables.scss";

.leaderboard{
    margin-top: 25px;
    .players-table {
        display: flex;
        flex-direction: column;
        align-items: center;
        .table-data {
            background-color: $main-dark-color;
            min-height: 570px;
            min-width: 50%;
            color: $secondary-light-color;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            .player-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                color: $secondary-light-color;
                font-weight: 500;
                font-size: 18px;
                min-height: 57px;
                .medal-emoji {
                    font-size: 36px;
                    color: rgb(241, 145, 0);
                }
                .player-info, .player-ranking {
                    display: flex;
                    justify-self: center;
                    align-items: center;
                }
            }
        }
        .table-header {
            min-width: 50%;
            background-color: $third-dark-color;
            color: $secondary-light-color;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            .header-names {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
    .pagination {
        margin: 10px 0;
        display: flex;
        justify-content: center;
    }
}