.statki {
    padding-top: 50px;
    padding-left: 0%;
    justify-content: center;
    align-items: center;

    .box {
        margin: auto;
        width: 200px;
        display: grid;

        .player {
            height: 60px;
            text-transform: capitalize;
            font-weight: 600;
        }
    }

    .playerTitles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .leftSide {
            display: flex;
            justify-self: center;
            margin-left: 75px;
        }

        .rightSide {
            display: flex;
            justify-self: center;
            margin-right: 75px;
        }
    }

    .timer {
        background-color: rgba(66, 119, 150, 0.1);
        width: 200px;
        height: 30px;
    }

    .chat {
        margin: auto;
        width: 320px;
        margin-bottom: 5px;
    }
}
