.statki {
    padding-top: 50px;
    padding-left: 0%;
    justify-content: center;
    align-items: center;

    .box {
        margin: auto;
        width: 200px;
        display: grid;

        .player {
            height: 60px;
            text-transform: capitalize;
            font-weight: 600;
        }
    }

    .leftside {
        left: 15%;
        position: absolute;
    }

    .rightside {
        left: 75%;
        position: absolute;
    }

    .timer {
        background-color: rgba(66, 119, 150, 0.1);
        width: 200px;
        height: 30px;
    }

    .chat {
        margin: auto;
        width: 300px;
    }
}
